# Lecture 4a: Indexing, Slicing, Data containers.

### Slicing and Indexing works on **iterable** objects.

1. Strings.
[Iterable](https://docs.python.org/3/glossary.html#term-iterable), [**Immutable**](https://docs.python.org/3/glossary.html#term-immutable) Ordered sequences.  

> [srt: a **text sequence** type](https://docs.python.org/3/library/stdtypes.html#textseq)  

> [String Methods](https://docs.python.org/3/library/stdtypes.html#string-methods)  

> [string constants module](https://docs.python.org/3/library/string.html#module-string)

> Indexing  
> Slicing.  
> Basic functions on strings, len(), replace.  
> Basic string methods examples.  
> Extra.


2. Lists. Data container.   
Iterable **Mutable** sequences, typically used to store collections of **homogeneous** items  
New word: Built-in Data containers.  

> [built-in data type](https://docs.python.org/3/library/stdtypes.html#typesseq-list)   
>  [sequence data-type](https://docs.python.org/3/library/stdtypes.html#typesseq)  
> list(): [Built-in function](https://docs.python.org/3/library/functions.html#func-list)  

 
> operations: [common for all sequence types](https://docs.python.org/3/library/stdtypes.html#typesseq-common) and [for mutable sequence types](https://docs.python.org/3/library/stdtypes.html#mutable-sequence-types).  
> Indexing.  
> Slicing.  
> Basic functions on lists: len(), [sorted()](https://docs.python.org/3/howto/sorting.html#sortinghowto).  
> [List methods](https://docs.python.org/3/tutorial/datastructures.html) examples.  
  

3. Tuples. Data container.   
**Immutable** sequences, typically used to store collections of **heterogeneous** data.

>[built-in data type](https://docs.python.org/3/library/stdtypes.html#tuple)  
> tuple() [built-in function](https://docs.python.org/3/library/functions.html#func-tuple)  
> Indexing.  
> Slicing.  
> Basic functions on Tuples [common for all sequence types](https://docs.python.org/3/library/stdtypes.html#typesseq-common).  


4. Sets. Data container.   
>[built-in data type](https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset)  
----

## 1. Strings.

Denoted with quotes: " ".  
Immutable: can't be changed directly "in place".  
Iterable, Ordered sequences, can be indexed.

> [srt: text sequence type](https://docs.python.org/3/library/stdtypes.html#textseq)  

> [String Methods](https://docs.python.org/3/library/stdtypes.html#string-methods)  

> [string constants module](https://docs.python.org/3/library/string.html#module-string)

### Indexing.

In [1]:
# Count characters with len() function
onoma = "nikos"

In [2]:
onoma_length = len(onoma)

In [3]:
onoma_length

5

In [4]:
# indexing: use the index of ordered characters
first_letter = onoma[0] #count from 0
first_letter

'n'

In [5]:
# indexing: use the index of ordered characters
third_letter = onoma[2] #count from 0
third_letter

'k'

In [6]:
# indexing counts backwards too
third_from_end = onoma[-3]
third_from_end

'k'

In [7]:
last_letter = onoma[-1] #reverse count from -1

last_letter

's'

  
### Slicing.

In [8]:
onoma = 'nikos'

# Slicing parts of strings
# start index can be omitted if start from 0

first_three = onoma[0:3]  # first_three = onoma[:3] works to
first_three

'nik'

In [9]:
first_three = onoma[:3]
first_three

'nik'

#### Slicing is NOT inclusive of the end range

In [10]:

onoma_2nd_and_3rd = onoma[1:3] #letters index 0, 1, 2
# onoma_2nd_and_3rd = onoma[-7:-5] #same as above

onoma_2nd_and_3rd

#print('type of a slice = string:')
#print(type(onoma_2nd_and_3rd), '\n')

'ik'

In [11]:
# slice -2 to the end
last_two = onoma[-2:] # or onoma[-2:len(onoma)]

last_two

'os'

In [12]:
# slice with steps by 2
onoma = 'nikolaras'

odd_letters = onoma[: :3]

odd_letters

'nor'

In [13]:
# onoma[9]

In [14]:
len(onoma)

9

In [15]:
# IndexError: string index out of range
#onoma[9]
#onoma[-9]
# Indexing always < len(string)

In [16]:
# using indices to concatenate --> new string
second_and_fifth = onoma[1] + onoma[4]  # Note the index

second_and_fifth

'il'

In [17]:
# Integers or floats cannot be sliced, first convert to strings
int_number = 4194
int_number_3rd_digit = str(int_number)[2]

print(f'To get digits convert numbers to strings. \
3rd digit of {int_number} is {int_number_3rd_digit}')

To get digits convert numbers to strings. 3rd digit of 4194 is 9

In [18]:
print('Try running 4194[2] to see the "TypeError" message')
#type_error_example
#integer_example[2]

Try running 4194[2] to see the "TypeError" message

### Functions and methods. Operations on objects are a lot more than math.
> Functions on strings: len(), int("4").   
> Basic string [methods](https://docs.python.org/3/library/stdtypes.html#string-methods).  
> String Methods syntax uses string name and dot.    

replace('x', 'y') # replace x with y.  
count('x') # count occurences of x in string.   
find('x') # find position index of the 1st occurence of x.  
partition() # split once.   
rpartition() # split once from end.  
split() # split using defined delimiter.  
rsplit() # split from end.  
strip() # Strip characters from left & right end of string.  
capitalize() # 1st character to uppercase, all others to lowercase.  
lower() # all to lowercase.  
upper() # all to uppercase.  
title() # capitalise the first letter of each word.  
swapcase() # Guess what it does. Please do try this here or at home.   

### Today, at this point we write a suprise test to evaluate how boring I have been so far.   
Don't worry, it is not graded for you. It is an evaluation of me.

In [19]:
what_students_want = "test please"

In [20]:
what_students_want

'test please'

In [21]:
# str.replace?

In [22]:
# replace all occurences by default, as many times some text exists.
what_students_want.replace("t", "No t")

'No tesNo t please'

In [23]:
# use string as arguments
what_students_want.replace("t", "No t", 1)  # does not work inplace

'No test please'

### replace: to inplace or not to inplace? Basic but very frequent error!

In [24]:
what_students_want

'test please'

In [25]:
len(what_students_want)

11

In [26]:
# this is an assignment
what_students_want = what_students_want.replace("t", "No t", 1)

In [27]:
what_students_want

'No test please'

In [28]:
#this is a view of the object value
what_students_want

'No test please'

In [29]:
what_students_want

'No test please'

In [30]:
len(what_students_want)

14

In [31]:
# replace all occurences by default, as many times some text exists.
what_students_want.replace("t", "r")

'No resr please'

## 2. Lists.  
Denoted with square brackets: [ ]  
Iterable **Mutable** sequences, typically used to store collections of **homogeneous** items.

List **items** are separated by commas.  
May containt mixed data types (integes, strings, lists, objects, ...).  
Not recommended for mixed data types.  
Ordered and indexex => allow for duplicates and item access.  
Mutable.  
Lists can be multiplied, added. The result is a list.
 
> [built-in data types](https://docs.python.org/3/library/stdtypes.html#typesseq-list)   
>  [sequence data-type](https://docs.python.org/3/library/stdtypes.html#typesseq)  
> list(): [Built-in function](https://docs.python.org/3/library/functions.html#func-list)  

 
> operations: [common for all sequence types](https://docs.python.org/3/library/stdtypes.html#typesseq-common) and [for mutable sequence types](https://docs.python.org/3/library/stdtypes.html#mutable-sequence-types).

### Indexing.

In [32]:
a = []

In [33]:
type(a)

list

In [34]:
## Notated with square brackets, items separated by comma
strings_list = ['nikos', 'has a', 'lovely', 'cat']

In [35]:
type(strings_list)

list

In [36]:
strings_list

['nikos', 'has a', 'lovely', 'cat']

In [37]:
print(type(strings_list), '\n') #type = list

<class 'list'>

In [38]:
## May contain mixed data types. NOT RECOMMENDED !
mixed_list = ['nikos has', 3, 'cats but Schrödinger has', 0.5]

print(mixed_list, '\n')

print("Lists are not recommended for Mixed data types!")

['nikos has', 3, 'cats but Schrödinger has', 0.5]

Lists are not recommended for Mixed data types!

In [39]:
## Contain other lists as an item
list_with_list = ['nikos', 'has', 3, 'cats', strings_list]

list_with_list

['nikos', 'has', 3, 'cats', ['nikos', 'has a', 'lovely', 'cat']]

In [40]:
# len(list) to get the number of items
lenght_list_of_list = len(list_with_list)

print('length =', lenght_list_of_list, '\n')

length = 5

In [41]:
strings_list

['nikos', 'has a', 'lovely', 'cat']

In [42]:
# List items are ordered, indexed, retain their  type
first_item = strings_list[0]  #! index from zero
first_item

'nikos'

In [43]:
strings_list[0][2]

'k'

In [44]:
## Since strings are ordered sequences as well:
third_letter_first_item = strings_list[0][2]

print(f'3rd letter of 1st item: {third_letter_first_item} \n')

3rd letter of 1st item: k

In [45]:
# Lists can be multiplied, added, result is a new list
strings_list*3

['nikos',
 'has a',
 'lovely',
 'cat',
 'nikos',
 'has a',
 'lovely',
 'cat',
 'nikos',
 'has a',
 'lovely',
 'cat']

In [46]:
# When adding lists, items from both lists are ordered
added_list = strings_list + ['and wants', 2, 'dogs']

print(added_list)

['nikos', 'has a', 'lovely', 'cat', 'and wants', 2, 'dogs']


### Slicing.

In [47]:
strings_list

['nikos', 'has a', 'lovely', 'cat']

In [48]:
# Lists are mutable
# Make a copy to mutate it if you need to keep the  original list
to_mutate_list = strings_list.copy()

to_mutate_list[0] = 'john'  # assing new value to first item

print(f'New value of 1st item):\n {to_mutate_list}\n')

New value of 1st item):
 ['john', 'has a', 'lovely', 'cat']

In [49]:
#Mutate list using slicing
to_mutate_list[0:2] = 'virus' # assing a letter to each item place, ! letters > items

print(f'All items can change:\n {to_mutate_list}\n')

All items can change:
 ['v', 'i', 'r', 'u', 's', 'lovely', 'cat']

In [50]:
added_list + ["help"]  # not in place, just another representation

['nikos', 'has a', 'lovely', 'cat', 'and wants', 2, 'dogs', 'help']

In [51]:
added_list

['nikos', 'has a', 'lovely', 'cat', 'and wants', 2, 'dogs']

In [52]:
## TypeError: can only concatenate list (not "str") to list

## CONCATENATE is a wors you should know in programming

# added_list + "help"

### Functions and methods.
> Basic functions on lists: len(), [sorted()](https://docs.python.org/3/howto/sorting.html#sortinghowto).  
> [List methods](https://docs.python.org/3/tutorial/datastructures.html) examples.   
> Mind the different syntax of object methods.

In [53]:
strings_list = ['nikos', 'has a', 'lovely', 'cat']

In [54]:
## List method append, to add new item at the end
## append works in place! NOTE!
strings_list.append('new item')

In [55]:
strings_list

['nikos', 'has a', 'lovely', 'cat', 'new item']

In [56]:
strings_list

['nikos', 'has a', 'lovely', 'cat', 'new item']

In [57]:
#add new item at the end even if item is a list
second_list = ['nikos', 'hi'] # example of list to append

strings_list.append(second_list)

strings_list

['nikos', 'has a', 'lovely', 'cat', 'new item', ['nikos', 'hi']]

In [58]:
# List method remove. Remove also works "in place"!
strings_list.remove(second_list)

strings_list

['nikos', 'has a', 'lovely', 'cat', 'new item']

In [59]:
strings_list

['nikos', 'has a', 'lovely', 'cat', 'new item']

In [60]:
strings_list.remove('new item')

In [61]:
## ValueError: list.remove(x): x not in list
#strings_list.remove('new item')

In [62]:
# Convert characters of string to list
string_example = "This is pythonic"
list_of_characters = list(string_example) # converts every charachter to list item
list_of_characters

['T',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n',
 'i',
 'c']

In [63]:
print('Convert characters to list:')
print(' ', string_example)
print(' ', list_of_characters)

Convert characters to list:
  This is pythonic
  ['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'p', 'y', 't', 'h', 'o', 'n', 'i', 'c']

In [64]:
# Join items of a list
print('\nJoin items of list:')

joined_items_list = ' '.join(list_of_characters) #join and use blank space as separator

#joined_items_list = '?'.join(list_of_characters) #join and use blank space as separator
#print(' ', joined_items_list)

Join items of list:

In [65]:
# List methods overview
# print('\nTo get help for method:\n help(function.method)\n')
# help(list)
# help(list.append)

## 3. Tuples (basic).  
Denoted with ( )  
Iterable **Immutable** sequences, *typically* used to store collections of **heterogeneous** [data](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences).

>[built-in data types](https://docs.python.org/3/library/stdtypes.html#tuple)  
> tuple() [built-in function](https://docs.python.org/3/library/functions.html#func-tuple)  
> Indexing.  
> Slicing.  
> Basic functions on Tuples [common for all sequence types](https://docs.python.org/3/library/stdtypes.html#typesseq-common).

In [66]:
a_boring_tuple = ("hi", 3, ["a list"])

In [67]:
type(a_boring_tuple)

tuple

In [68]:
a_boring_tuple

('hi', 3, ['a list'])

In [69]:
both_results = divmod(9, 6)

In [70]:
both_results

(1, 3)

In [71]:
type(both_results)

tuple

## 4. Sets (for those that want extra reading).  

>[built-in data type](https://docs.python.org/3/library/stdtypes.html#set-types-set-frozenset)   
Unordered collection of distinct hashable objects. Common uses include membership testing, removing duplicates from a sequence, and computing mathematical operations such as intersection, union, difference, and symmetric difference.