# Lecture 4c: Dictionaries.


Used for storing unordered key-value pairs. Mutable data container.   
Used when a unique "name" (eg index or ID) has to be **associated** with constant, or changing "values".

> [Dicts are a built-in "Mapping" data type.](https://docs.python.org/3/tutorial/datastructures.html#dictionaries)  
> Create dictionary, dict() constructor and other syntax.    
> [Dictionary methods](https://docs.python.org/3/library/stdtypes.html#typesmapping)  

Denote with {}. This characters are called "braces".  
Iterable, Mutable.  
{key: value} pairs. Like a data table without numeric index.  
Unordered does not mean random order.  
> Keys and values are listed in an arbitrary order which is non-random, **varies across Python vesions**.   
Order depends on the dictionaryâ€™s history of insertions and deletions.  

Mind the data type of each. Keys require immutable data types.  
Keys are unique, the same key cannot appear twice in a dict.

## Create a dictionary. Various ways, flexibility for different available data.

In [1]:
# help(dict)

In [2]:
# dict?

In [3]:
empty_dict = {}

empty_dict

{}

In [4]:
type(empty_dict)

dict

In [5]:
# keys are interpreted as strings. Can you understand why?
dict_a = dict(one=1, two=2, three=3)  # dict() and assign key=value.
dict_a

{'one': 1, 'two': 2, 'three': 3}

In [6]:
# numbers may be used as keys, altough
dict_with_number_keys = {1: 1, 2: 2, 3: 3}
dict_with_number_keys

{1: 1, 2: 2, 3: 3}

In [7]:

# dict_a = dict('one'=1, 'two'=2, 'three'=3)  # Show this does not work.

# The reason is: Cannot assign a "value" to be equal to another "value".
# "one" is a string value and 1 is a integer value.
# "one" = 1

In [8]:
# Show this does not work.
# "one" = 1

In [9]:
# similarly, this does not work either, inside a dict.
#dict_with_number_keys_using_assignment = {1 = 1, 2 = 2, 3 = 3}

### Syntax alternatives to create a dict.

In [10]:
dict_b = {'one': 1, 'two': 2, 'three': 3}  # dict literal notation.

dict_c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))  # dict(), zip() functions. Combine two lists. help(zip) for more.

dict_d = dict([('two', 2), ('one', 1), ('three', 3)])  # dict() and list of pairs.

dict_e = dict({'three': 3, 'one': 1, 'two': 2})  # dict() and pairs.

dict_f = dict({'one': 1, 'three': 3}, two=2)  # combinations


dict_a == dict_b == dict_c == dict_d == dict_e == dict_f

True

### Dict comprehension.
Efficient method of creating a dict from an iterable,  
or transforming one dictionary into another

In [11]:
# function on all items of a tuple.
squares_dict = {x: x+2 for x in (2, 4, 6, 100)}
squares_dict

{2: 4, 4: 6, 6: 8, 100: 102}

In [12]:
# Values may be a lists.
dict_with_lists = {'jack': [4098, 4], 'jill': [4139, 8], 'jane': [1234, 3]}
dict_with_lists

{'jack': [4098, 4], 'jill': [4139, 8], 'jane': [1234, 3]}

## Access, inspect dictionary: items, keys, values.

In [13]:
# Create a dictionary with phone numbers.
tel = {'jack': 4098, 'jill': 4139, 'jane': 1234}
tel

{'jack': 4098, 'jill': 4139, 'jane': 1234}

In [14]:
# Inspect {key:value} pairs, called items, use items() method.
tel.items()

dict_items([('jack', 4098), ('jill', 4139), ('jane', 1234)])

In [15]:
help(dict.items)

Help on method_descriptor:

items(...)
    D.items() -> a set-like object providing a view on D's items

In [16]:
# keys() to inspect the keys
tel.keys()

dict_keys(['jack', 'jill', 'jane'])

In [17]:
tel.values()

dict_values([4098, 4139, 1234])

## indexing

In [18]:
# Return the value of key.
tel.get('jack')

4098

In [19]:
# Return the value of key. Different syntax, same result.
tel['jack']

4098

In [20]:
# Same result.
tel.get('jack') == tel['jack']

True

In [21]:
# tel['james']  # key error

### Get key from a value. Note: values may not be unique.
Notice that in this [question](https://stackoverflow.com/questions/8023306/get-key-by-value-in-dictionary), the reply with the most votes is WRONG and the accepted answer (second in votes) is incomplete).

In [22]:
mydict = {'george': 16, 'amber': 19, 'jim': 16}

In [23]:
# Returns only first instance.
print(list(mydict.keys())[list(mydict.values()).index(16)])

george

In [24]:
# Return all instances.
search_age = 16

for name, age in mydict.items():
    if age == search_age:
        print(name)

george
jim

In [25]:
# My recommended way to return all instances in a list.
[name for name, age in mydict.items() if age == search_age]

['george', 'jim']

In [26]:
# This is the same as above but with different names.
# This works ok, python 3+. Called list comprehension.
[k for k, v in mydict.items() if v == search_age]  # k is for key and v for value

['george', 'jim']

In [27]:
# Reverses the dictionaty key value pairs. Keys become values.
# If values are not unique, this loses the 2d time a value appears because keys should be unique.
reversed_mydict = dict((v,k) for k,v in mydict.items())
reversed_mydict

{16: 'jim', 19: 'amber'}

In [28]:
reversed_mydict[16]

'jim'

In [29]:
# Alternative, more explicit (verbose) syntax of list comprehension.
search_age = 16
name = [k for k in mydict.keys() if mydict[k] == search_age]; name

['george', 'jim']

### Modify a dictionary. clear, add, remove, update.   
[Extensive recommended answer.](https://stackoverflow.com/a/8381589)

In [30]:
# Remove all items.
tel.clear()
tel

{}

In [31]:
tel = {'jack': 4098, 'jill': 4139, 'jane': 1234}

In [32]:
# add a new item at the end. Works "in place" => without new assigment.
tel['guido'] = 4127
tel

{'jack': 4098, 'jill': 4139, 'jane': 1234, 'guido': 4127}

In [33]:
# remove an item. Works "in place" => without new assigment
del tel['jill']
tel

{'jack': 4098, 'jane': 1234, 'guido': 4127}

In [34]:
# Remove key and return its value.
guido_tel_number = tel.pop('guido')
guido_tel_number

4127

In [35]:
jack_tel_number = tel.pop('jack')

In [36]:
jack_tel_number

4098

In [37]:
tel

{'jane': 1234}

In [38]:
tel['toni'] = guido_tel_number

In [39]:
tel

{'jane': 1234, 'toni': 4127}

In [40]:
# modify a value
tel['jane'] = 1000
tel

{'jane': 1000, 'toni': 4127}

In [41]:
# Add new items at once
tel.update(jim=2000, ann=3001)
tel

{'jane': 1000, 'toni': 4127, 'jim': 2000, 'ann': 3001}

In [42]:
# Modify items' values
tel.update(jack=4000, ann=3009)
tel

{'jane': 1000, 'toni': 4127, 'jim': 2000, 'ann': 3009, 'jack': 4000}

In [43]:
# insert new key without default value.
tel.setdefault("jameson")
tel

{'jane': 1000,
 'toni': 4127,
 'jim': 2000,
 'ann': 3009,
 'jack': 4000,
 'jameson': None}

In [44]:
# insert new key with default value, if no value exised
tel.setdefault("dan", 1111) 
tel

{'jane': 1000,
 'toni': 4127,
 'jim': 2000,
 'ann': 3009,
 'jack': 4000,
 'jameson': None,
 'dan': 1111}

In [45]:
# if value exists this is not the way to change it.
tel.setdefault("dan", 3333) 
tel

{'jane': 1000,
 'toni': 4127,
 'jim': 2000,
 'ann': 3009,
 'jack': 4000,
 'jameson': None,
 'dan': 1111}

### Miscelanous functions

In [46]:
len(tel)  # N of items (N of pairs)

7

In [47]:
list(tel)  # convert keys to list

['jane', 'toni', 'jim', 'ann', 'jack', 'jameson', 'dan']

In [48]:
sorted(tel)  # convert keys to sorted list

['ann', 'dan', 'jack', 'jameson', 'jane', 'jim', 'toni']

In [49]:
'thanasis' in tel

False

In [50]:
"ann" in tel

True

In [51]:
'jack' not in tel

False

### Iterate

In [52]:
for employee in tel:
    print(employee)

jane
toni
jim
ann
jack
jameson
dan

In [53]:
for name in tel.keys():
    print(name)

jane
toni
jim
ann
jack
jameson
dan

In [54]:
for i in tel.values():
    print(i)

1000
4127
2000
3009
4000
None
1111

In [55]:
for key, value in tel.items():
    print(key, value)  #, sep=" tel. number ")

jane 1000
toni 4127
jim 2000
ann 3009
jack 4000
jameson None
dan 1111

In [56]:
for key, value in sorted(tel.items()):
    print(key, value)

ann 3009
dan 1111
jack 4000
jameson None
jane 1000
jim 2000
toni 4127

In [57]:
dict_with_lists = tel = {'jack': [4098, 4097], 'jill': [4139, 4138], 'jane': [1234, 1233]}
dict_with_lists

{'jack': [4098, 4097], 'jill': [4139, 4138], 'jane': [1234, 1233]}

In [58]:
for key, value in dict_with_lists.items():
    print(key, value[0])

jack 4098
jill 4139
jane 1234

In [59]:
for key, value in dict_with_lists.items():
    print(key, value[1])

jack 4097
jill 4138
jane 1233

#### Dict Extra:  
[subclasses](https://docs.python.org/3/library/collections.html)

Subclasses in Python are defined in a way that inherit properties of the parent classes but have some modified attributes.  
[OrderedDict](https://docs.python.org/3/library/collections.html#collections.OrderedDict) is an example of Dictionary that also has an index. It returns an instance of a dict subclass that has methods specialized for rearranging dictionary order.

In [60]:
from collections import OrderedDict

#### Example of iterating over a dict and getting and index for items  
using the built-in [enumerate() function: ](https://docs.python.org/3/library/functions.html#enumerate)
This creates a new object called enumerate which works liked an explicitly indexed list.

In [61]:
classic_dict_without_index = {"a": 1, "b": 2, "c": 3, "d": 4}

for index,  (key, value) in enumerate(classic_dict_without_index.items()):
    print(index, key, value)

0 a 1
1 b 2
2 c 3
3 d 4

In [62]:
type(enumerate(classic_dict_without_index))

enumerate

In [63]:
enumerate?

Init signature: enumerate(iterable, start=0)
Docstring:
Return an enumerate object.

  iterable
    an object supporting iteration

The enumerate object yields pairs containing a count (from start, which
defaults to zero) and a value yielded by the iterable argument.

enumerate is useful for obtaining an indexed list:
    (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
Type:           type
Subclasses:

In [64]:
# show that slicing a dictionary does not work
#classic_dict_without_index.values()[:2]

In [65]:
# convert to a list to get a slice of the values or keys
list(classic_dict_without_index.keys())[1:3]

['b', 'c']

In [66]:
list(classic_dict_without_index.values())[1:3]

[2, 3]

In [67]:
list(classic_dict_without_index.items())[1:3]

[('b', 2), ('c', 3)]

#### Example of slicing an OrderedDict
using the [built-in itertools module](https://docs.python.org/3/library/itertools.html)

In [68]:
from itertools import islice

In [69]:
# mind the parentheses. A function is used along the dict notation to create an OrderedDict.
ordered_dict = OrderedDict({"a": 1, "b": 2, "c": 3, "d": 4})
ordered_dict
# and the output looks like a list doesn;t it?

OrderedDict([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [70]:
sliced_part = islice(ordered_dict.items(), 1, 3)

OrderedDict(sliced_part)

OrderedDict([('b', 2), ('c', 3)])

In [71]:
# Of course, converting to a list is simpler.
list(ordered_dict.items())[1:3]

[('b', 2), ('c', 3)]